---
import BaseLayout from "../../layouts/BaseLayout.astro";
import type { Post } from "../../types/post";
import { getCollection } from "astro:content";

export async function getStaticPaths() {
  const allPosts = await getCollection("blog");

  const tags = [...new Set(allPosts.map((post) => post.data.tags).flat())];

  return tags.map((tag: string) => {
    const filteredPosts = allPosts.filter((post) =>
      post.data.tags.includes(tag)
    );

    return {
      params: { tag },
      props: { posts: filteredPosts },
    };
  });
}

const { tag } = Astro.params;
const { posts } = Astro.props;
---

<BaseLayout pageTitle={tag}>
  <p>Posts tagged with {tag}</p>
  {
    posts.map((post) => (
      <li>
        <a href={`/posts/${post.id}`}>{post.data.title}</a>
      </li>
    ))
  }
</BaseLayout>
