---
import BaseLayout from "../layouts/BaseLayout.astro";
import type { Post } from "../types/post";
import { getCollection } from "astro:content";

const allPosts = await getCollection("blog");
---

<BaseLayout pageTitle="Blog">
  <h2>... and my new Astro site!</h2>

  <p>
    I am working through Astro's introductory tutorial. This is the second page
    on my website, and it's the first one I built myself!
  </p>

  <p>
    This site will update as I complete more of the tutorial, so keep checking
    back and see how my journey is going!
  </p>

  <ul>
    {
      allPosts.map((post) => (
        <li>
          <a href={`/posts/${post.id}`}>{post.data.title}</a>
        </li>
      ))
    }
  </ul>
</BaseLayout>
