---
import Social from "./Social.astro";

const platform = "github";
const username = "withastro";
---

<footer>
  <p>
    Learn more about Astro on the
    <Social platform={platform} username={username} />
  </p>
</footer>
