---
import Navigation from "./Navigation.astro";
import ThemeIcon from "./ThemeIcon.astro";
---

<header class="header">
  <h1>My Astro Site</h1>
  <ThemeIcon />
  <Navigation />
</header>

<style>
  .header {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
  }
</style>
